
@keyframes anilogo{
  0%   {top:0px;}
  25%  {top:0px;}
  50%  {top:20px;}
  75%  {top:0px;}
  100% {top:0px;}
}

hr {
  width: 70%;
  height:1px;
  margin-left: auto;
  margin-right: auto;
  border:0;
  background-color: rgb(65, 65, 65);
  margin-bottom:20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ffff66;
  border:none;
}

li a {
  display: block;
  color: #000;
  padding: 6px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom:1px solid black ;
}

li:last-child {
  border-bottom:1px solid black;
}

li a:hover:not(.active) {
  background-color: #ffffb3;
  color: black;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin:20px;
}

.header {
  background-color:white;
  margin-top: 20px;
  text-align: center;
  margin:20px;
}

.header img{
  margin-top:20px;
  position: relative;
  animation-name: anilogo;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.topnav {
  overflow: hidden;
  background-color: #ffff66;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:active{
  background-color:#ffffb3;
}

.topnav a:hover {
  background-color: #ffffb3;
  color: black;
}

.topnavlogo a {
  float: left;
  display: contents;
  text-align: center;
  color: black;
  text-decoration: none;

}
.topnavtxt{
  left:0;
  display: block;
}
.topnavtxt a{
  float:left;
  text-align: center;
  text-decoration: none;
}
.topnavlogo a:active{
  background-color:#ffff66;
}

.topnavtxt a:hover {
  background-color: #ffff66;
  color: black;
}
.topnav img{
  margin-left:25px;
  margin-right:10px;
  margin-top:11px;
  float:left;
  width:2%;
  height:2%;
}

.footer {
  background-color: #ffff66;
  text-align: center;
  padding: 10px;
  margin-top:230px;
}

.footer img{
  text-align:center;
  vertical-align: middle;
  padding:5px;
}
.footer a{
  text-decoration:none;
}

.footer a:hover{
  text-decoration:underline;
}

.button {
  border-radius:40px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.leftcolumn{
  position: absolute;
  left: 0;
  width: 25%;
  margin:20px;
  padding:20px;

}
.rightcolumn{
  right: 0;
  width:25%;
  position: absolute;
  margin:20px;
  padding:20px;

}
.leftColumn{
  width: 80%;

}
div.columnMiddle {
  text-align:center;
  position:absolute;
  right: 16.8%;
  width: 50%;
  margin-top: 47px;
}
div.row{
  width: 100%;
  height: 242px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.ad{
  background-color:lightgrey;
  right: 0;
  width:15%;
  height:390px;
  margin-right:30px;
  padding:20px;
  top:540px;
  position:absolute;
}

body {
  background-image: url('JRUJ8409.PNG');
  background-repeat: no-repeat;
  cursor: url("https://downloads.totallyfreecursors.com/cursor_files/horseshoe.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/horseshoe.gif"), auto;
}
.button1 {background-color: #ffff66;}
